.slide{
    margin-top:80px;

}

.slide img{
    /*width: 100vh;
    height: 100vh;*/
    width: 80vh;
    height: 75vh; 
    
}

.centrado{
    /*text-align:center;*/
    margin-left: 10%;
    margin-right: 10%;
    text-align:justify;
    font-size: large;    
    /*border:1px dotted #000;*/
    padding:8px;
}

h1{
    animation: flipInX;
    animation-duration: 2.5s;
}

.navbar-expand-lg {
    color: #00FFFF;
}
/* change the background color */
.navbar-custom {
    background-color: #00FFFF;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #00FFFF;
}

.video {
    width: 65%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.img-nice{
    width: 50%;
    height: 50%;
    padding-bottom: -50%;
}
.audio  {
    position: relative;
    z-index: +1;
}

.video::after{

    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.clase_video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.main-content {
    overflow:hidden;
      position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      
      height: 100vh;
      
      background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
      color: #fff;
      text-align: center;
  }

  .main-content2 {
    overflow:hidden;
      /*position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      
      height: 50vh;
      
      background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
      color: #fff;
      text-align: center;*/
      background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
  }
  
  .vignette{
    position:absolute;
    width:100%; height:100%;
    box-shadow:inset 0px 0px 150px 20px black;
    mix-blend-mode: multiply;
    -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
    -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
    -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
    animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
  }
  
  .noise {
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100%;
      
      pointer-events: none;
      opacity: .15;
  }
  
  .line{
    position:absolute;
    height:100%; width:1px;
    opacity:0.1;
    background-color:#000;
  }
  
  .titleCont{position:relative;}
  
  .main-title {
      padding: .3em 1em .25em;    
      font-weight: 400;
      font-size: 40px;
      color: white;
      font-family: 'Bellefair', serif;
      position:relative;
      line-height:1.3;
  }
  
  .overTitle{
      position:absolute;
      top:0;
      left:0;
  }
  
  .dot{
    width:3px;
    height:2px;
    background-color:white;
    position:absolute;
    opacity:0.3;
  }
  
  
  @-webkit-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-moz-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-o-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }